@import url('https://fonts.googleapis.com/css?family=Cairo');
*{margin:0px;padding:0px;box-sizing:border-box;}
html{font-size:62.5%;}
body{height:100vh;width:100vw;width:auto;display:grid;grid-template-rows:6.5vh 94vh;grid-template-columns:100vw;grid-template-areas:"header""main";
background:-webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
background:-o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
background:-moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
background:linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);}
.vip{overflow:hidden;}
#particles-js{position:fixed;width:100vw;height:100vh;}
.cube{position:absolute;top:80vh;left:45vw;width:10px;height:10px;border:solid 0.8px #D7D4E4;transform-origin:top left;
transform:scale(0) rotate(0deg) translate(-50%, -50%);animation:cube 12s ease-in forwards infinite;}
.cube:nth-child(2n){border-color:#FFF;}
.cube:nth-child(2){animation-delay:2s;left:25vw;top:40vh;}
.cube:nth-child(3){animation-delay:4s;left:75vw;top:50vh;}
.cube:nth-child(4){animation-delay:6s;left:75vw;top:10vh;}
.cube:nth-child(5){animation-delay:8s;left:25vw;top:85vh;}
.cube:nth-child(6) {animation-delay:10s;left:50vw;top:10vh;}
@keyframes cube{
from{transform:scale(0) rotate(0deg) translate(-50%, -50%);opacity:1;}
to{transform: scale(20) rotate(960deg) translate(-50%, -50%);opacity:0;}}
.header{background-color:transparent;width:100vw;grid-area:header;position:static;top:0px;z-index:1;}
.logo {margin-left:1vw;margin-top:.6rem;float:left;}
.name{display:inline;font-family:"Lobster",cursive;font-weight:bolder;position:relative;top:1vh;
font-size:calc(18px + (22 -18) * (100vw - 320px) / (1920 -320));padding-left:3px;color:black;text-transform:uppercase;}
#menu {z-index:2;display:none;}
#menu-bar{width:45px;height:40px;margin:30px 0 20px 20px;cursor:pointer;}
.bar{height:5px;width:80%;background-color:white;display:block;border-radius:5px;transition:0.3s ease;}
#bar1{transform:translateY(-4px);}
#bar3{transform:translateY(4px);}
.nav{transition:0.3s ease;display:none;}
.nav ul{padding:0 22px;}
.nav li{list-style:none;padding:12px 0;}
.nav li a{color:white;font-size:25px;text-decoration:none;font-family:"Times New Roman",Times, serif;font-weight:bold;}
.nav li a::before{content:"";position: absolute;width: 100%;height: 4px;border-radius: 4px;background-color:blue;bottom:0;left:0;transform-origin:right;transform:scaleX(0);transition:transform 0.3s ease-in-out;}
.nav li a:hover::before {transform-origin: left;transform: scaleX(1);}
.menu-bg {position: absolute;top: 0;left: 0;}
#menu{position: absolute;top: -1.7vh;left: -8px;}
.nav li {position: relative;left: 2vw;top: -25px;}
.menu-bg {z-index: 1;width: 0;height: 0;margin: 30px 0 20px 20px;background-image: url("../pic/1.png"), url("../pic/2.png"), url("../pic/3.png"),
radial-gradient(circle, red, aqua);border-radius: 50%;animation: snow1 10s linear infinite;}
.change {display: block;}
.change .bar {background-color:white;}
.change #bar1 {transform: translateY(4px) rotateZ(-45deg);}
.change #bar2 {opacity: 0;}
.change #bar3 {transform: translateY(-6px) rotateZ(45deg);}
.change-bg {width: 520px;height: 460px;transform: translate(-60%, -30%);}
.menu-bg {overflow: hidden;}
@keyframes snow1 {
0%{background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 1000px 1000px, 1000px 100px, 1000px 100px;}}
.navbar {list-style: none;display: flex;float: right;padding-right: 10px;font-family: 'Times New Roman', Times, serif !important;}
.navbar > li {margin-top: 3px;display: inline;padding: 1.8vh;margin-right: 1rem;font-size: 2.1rem;font-weight: bold;}
.navbar li a {text-decoration: none;color: white;}
.material-symbols-outlined {font-size: larger;font-weight: bolder;}
.navbar li a {overflow: hidden;position: relative;display: inline-block;}
.navbar li a::before,.navbar li a::after {content: "";position: absolute;width: 100%;left: 0;}
.navbar li a::before {background-color: RED;height: 2px;bottom: 0;transform-origin: 100% 50%;transform: scaleX(0);
transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);}
.navbar li a::after {content: attr(data-replace);height: 100%;top: 0;transform-origin: 100% 50%;transform: translate3d(200%, 0, 0);
transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);color: RED;}
.navbar li a:hover::before {transform-origin: 0% 50%;transform: scaleX(1);}
.navbar li a:hover::after {transform: translate3d(0, 0, 0);}
.navbar li a span {display: inline-block;transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);}
.navbar li a:hover span {transform: translate3d(-200%, 0, 0);}
.navbar li a:active::after{color: blue;font-weight: bolder;}
.navbar li a:active::before{display: none;}
.main{grid-area: main;}
.custom-btn {margin: 20px;width: 130px;height: 40px;color: white;border-radius: 5px;padding: 10px 25px;font-family: 'Lato', sans-serif;
font-weight: 500;background: transparent;cursor: pointer;transition: all 0.3s ease;position: relative;display: inline-block;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),7px 7px 20px 0px rgba(0,0,0,.1),4px 4px 5px 0px rgba(0,0,0,.1);}
.btn-3 {background: rgb(0,172,238);background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);width: 130px;
height: 40px;line-height: 42px;padding: 0;border: none;}
.btn-3 span {position: relative;display: block;width: 100%;height: 100%;}
.btn-3:before,.btn-3:after {position: absolute;content: "";right: 0;top: 0;background: rgba(2,126,251,1);transition: all 0.3s ease;}
.btn-3:before {height: 0%;width: 2px;}
.btn-3:after {width: 0%;height: 2px;}
.btn-3:hover{background: transparent;box-shadow: none;}
.btn-3:hover:before {height: 100%;}
.btn-3:hover:after {width: 100%;}
.btn-3 span:hover{color: rgba(2,126,251,1);}
.btn-3 span:before,.btn-3 span:after {position: absolute;content: "";left: 0;bottom: 0;background: rgba(2,126,251,1);transition: all 0.3s ease;}
.btn-3 span:before{width:2px;height: 0%;}
.btn-3 span:after{width: 0%;height: 2px;}
.btn-3 span:hover:before{height: 100%;}
.btn-3 span:hover:after{width: 100%;}
.maincontant{position:relative;z-index:1;height:90vh;display:flex;justify-content: center;align-items: center;text-align:center;
flex-wrap: wrap;color:white;font-style:italic;}
.maincontant h3{font-size:calc(20px + (25 -20) * (100vw - 320px) / (1920 -320));z-index:2;}
.zahid {z-index:1;font-size: calc(40px + (60 -40) * (100vw - 320px) / (1920 -320));font-weight:bolder;}
.wraper{font-size:calc(10px + (15 -10) * (100vw - 320px) / (1920 -320));position:relative;left:-2rem;}
@media (max-width: 630px){
html{font-size: 45%;}
.cube{width:4px; height:4px;border:solid 0.5px #D7D4E4;}
.name{width:97vw;display:block;text-align:right;margin-left:-2px;margin-top:5px;top:0.6vh;font-size:20px;}
.logo{margin-left: calc(100vw - 255px);  margin-top: 5px;font-weight: 30px;}
.navbar{display: none;}
#menu{display: inherit;}}
@media (min-width:545px) and (max-width:630px){.logo{margin-left: calc(100vw - 265px); }}
@media (min-width:630px) and (max-width:679px){
.cube{width:5px; height:5px;border:solid 0.6px #D7D4E4;}
html {font-size:45%;}
.navbar > li {padding:1.6vh;margin-right: 0.45rem;padding-top:1.8rem;}}
@media (min-width:679px) and (max-width:779px) {
.cube{width:5.5px; height:5.5px;border:solid 0.6px #D7D4E4;}
html{font-size:47.5%;}
.navbar > li{padding:1.4vh;margin-right: 0.6rem;padding-top:1.8rem;}}
@media (min-width: 779px) and (max-width: 879px) {
.cube{width:6px; height:6px;border:solid 0.7px #D7D4E4;}
html{font-size: 50.5%;}
.navbar > li{padding: 1.45vh;margin-right: 0.65rem;padding-top: 1.8rem;}}
@media (min-width:880px) and (max-width:979px) {
.cube{width:7px; height:7px;border:solid 0.8px #D7D4E4;}
html{font-size: 53.5%;}
.navbar > li{padding:1.5vh;margin-right:0.7rem;padding-top:1.8rem;}}
@media (min-width:980px) and (max-width:1079px){html {font-size: 56.5%;}
.cube{width:8px; height: 8px;border:solid 0.8px #D7D4E4;}
.navbar > li{padding:1.5vh;margin-right:0.75rem;padding-top:1.6rem;}}
@media (min-width:1080px) and (max-width:1179px) {
.cube{width:8px; height:8px;border:solid 0.8px #D7D4E4;}
html {font-size:59.5%;}
.navbar > li{padding: 1.6vh;margin-right: 0.9rem;padding-top:1.6rem;}}
#c{position:absolute;top:0;left:15vw;}
.stake {border-left: 1px solid #000000;border-right: 1px solid #000000;width: 20px;height: 80px;display: inline-block;position: relative;background: #f77474;left:50%;top:45vh;}
.stake:before {content: "";display: inline-block;width: 20px;height: 8.5px;
background: #daeae4;border: 1px solid #000000;border-radius: 100px/50px;position: absolute;left: -1px;top: -6.5px;z-index: 2;}
.stake:after {content: "";display: inline-block;width: 20px;height: 12.5px;background: #f77474;border: 1px solid #000000;
border-radius: 100px/50px;position: absolute;left: -1px;bottom: -7.5px;z-index: -1;}
.btn-neon{position: relative;display: inline-flex;padding: 10px 20px;color: #03e9f4;text-decoration: none;text-transform: uppercase;overflow: hidden;transition: .5s; font-size: 17px;font-weight: bolder;}
.btn-neon:hover{background: #03e9f4;color: #fff;border-radius: 5px;box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;}
.btn-neon span{position: absolute;display: block;}
.btn-neon span:nth-child(1) {top: 0;left: -100%;width: 100%;height: 2px;background: linear-gradient(90deg, transparent, #03e9f4);animation: btn-anim1 1s linear infinite;}
@keyframes btn-anim1 {0% {left: -100%;}50%,100% {left: 100%;}}
.btn-neon span:nth-child(2) {top: -100%;right: 0;width: 2px;height: 100%;background: linear-gradient(180deg, transparent, #03e9f4);animation: btn-anim2 1s linear infinite;animation-delay: .25s}
@keyframes btn-anim2 {0% {top: -100%;}50%,100% {top: 100%;}}
.btn-neon span:nth-child(3) {bottom: 0;right: -100%;width: 100%;height: 2px;background: linear-gradient(270deg, transparent, #03e9f4);animation: btn-anim3 1s linear infinite;animation-delay: .5s}
@keyframes btn-anim3 {0% {right: -100%;}50%,100% {right: 100%;}}
.btn-neon span:nth-child(4) {bottom: -100%;left: 0;width: 2px;height: 100%;background: linear-gradient(360deg, transparent, #03e9f4);animation: btn-anim4 1s linear infinite;animation-delay: .75s}
@keyframes btn-anim4 {0% {bottom: -100%;}50%,100% {bottom: 100%;}}
.name span {position: relative;top: 5px;display: inline;animation: bounce .3s ease infinite alternate;font-family: 'Titan One', cursive;color: #FFF;text-shadow: 0 1px 0 #CCC,0 2px 0 #CCC,0 3px 0 #CCC,0 4px 0 #CCC,0 5px 0 #CCC,0 6px 0 transparent,0 7px 0 transparent,0 8px 0 transparent,0 9px 0 transparent,0 10px 10px rgba(0, 0, 0, .4);}
.name span:nth-child(2) { animation-delay: .1s; }
.name span:nth-child(3) { animation-delay: .2s; }
.name span:nth-child(4) { animation-delay: .3s; }
.name span:nth-child(5) { animation-delay: .4s; }
.name span:nth-child(6) { animation-delay: .5s; }
.name span:nth-child(7) { animation-delay: .6s; }
.name span:nth-child(8) { animation-delay: .7s; }
@keyframes bounce {
100% {top: -5px;text-shadow: 0 1px 0 #CCC,0 2px 0 #CCC,0 3px 0 #CCC,0 4px 0 #CCC,0 5px 0 #CCC,0 6px 0 #CCC,0 7px 0 #CCC,0 8px 0 #CCC,0 9px 0 #CCC,0 50px 25px rgba(0, 0, 0, .2);}}
 